@font-face {
    font-family: 'Outfit';
    font-display: swap;
    src: url(../fonts/outfit-variable-compressed.woff2) format('truetype');
}

* {
    font-family: 'Outfit', system-ui, ui-sans-serif, sans-serif;
}
